@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #5d02f9;
  --secondary-color: #ff5151;
  --black: #181818;
  --white: #f0f0f0;

  --font: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font);
  text-transform: uppercase;
  overflow-x: hidden;
  cursor: crosshair;
  background: var(--white);
}

body::before {
  content: "";
  inset: 0;
  background: url("../img/grain-2.webp");

  background-repeat: repeat;
  background-size: 20%;
  z-index: 10;
  opacity: 0.5;
  position: fixed;
  pointer-events: none;
  user-select: none;
  mix-blend-mode: lighten;
}

.grain {
  position: absolute;
}

.navbar {
  display: flex;
  gap: 0.5rem;
}

.navbar a {
  text-decoration: none;
  padding: 0 1rem;
  color: var(--black);
  transition: 0.2s;
}

.navbar a:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0 1.5rem;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.main {
  height: auto;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
  color: var(--black);
  position: fixed;
  top: 0;
  z-index: 10000;
  transition: 0.5s;
  background-color: var(--white);
}

.header.shrink {
  height: 60px;
  padding: 0 15px;
  background-color: var(--secondary-color);
  color: var(--white);
  width: 100%;
}

.header .logo svg {
  height: 40px;
  transition: height 0.3s ease;
  fill: var(--secondary-color);
}

.header.shrink .logo svg {
  height: 35px;
  fill: var(--white);
}

.logo a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.logo p {
  font-weight: 500;
}

.navbar a {
  cursor: pointer;
}

.kontakt-overlay {
  display: flex;
  position: absolute;
  background: var(--secondary-color);
  padding: 1rem 2rem;
  gap: 2rem;
  right: 0;
}

.kontakt-overlay p {
  color: var(--white);
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.kontakt-overlay a img {
  width: 20px;
  cursor: pointer;
}

.kontakt-overlay ul {
  display: flex;
  flex-direction: row;
}

.kontakt-overlay ul li {
  list-style: none;
  margin-right: 1rem;
}

.kontakt-overlay .socials img {
  width: 30px;
}

.shrink .navbar a,
.shrink .logo p {
  color: white;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
  height: 100vh;
  line-height: 1;
}

.intro-text img {
  padding-top: 20vh;
}

.intro-text h2 {
  font-size: 23vw;
  color: var(--primary-color);
  font-weight: 900;
  line-height: 0.8;
}

.intro-text h1 {
  font-size: 5vw;
  font-weight: 900;
  color: var(--secondary-color);
}

.intro-text h3 {
  font-size: 1.3vw;
  color: var(--black);
}

.pil {
  transition: 0.3s;
}

.pil img {
  width: 100px;
  padding-top: 10vh;
  z-index: 1000;
}

.pil:hover {
  transform: scale(1.2);
}

#portfolio {
  scroll-margin-top: 20vh; /* 20% of viewport height */
}

.bobler {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -15rem;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
  user-select: none;
}

.bobler div img {
  animation: float 6s ease-in-out infinite;
}

.bobler div:nth-child(1) img {
  width: 30vw;
  animation-delay: 0s;
  animation-duration: 5s;
}

.bobler div:nth-child(2) img {
  width: 6vw;
  filter: blur(7px);
  padding-top: 100%;
  animation-delay: -2s;
  animation-duration: 7s;
}

.bobler div:nth-child(3) img {
  width: 3vw;
  filter: blur(30px);
  display: none;
  padding-top: 300%;
  animation-delay: -1s;
  animation-duration: 4.5s;
}

.bobler div:nth-child(4) img {
  width: 14vw;
  padding-top: 80%;
  filter: blur(3px);
  animation-delay: -3s;
  animation-duration: 6.5s;
}

.bobler div:nth-child(5) img {
  width: 5vw;
  filter: blur(10px);
  padding-top: 50%;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
}

.bobler div:nth-child(6) img {
  width: 13vw;
  padding-top: 50%;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
}

.bobler div:nth-child(7) {
  position: absolute;
  left: 0;
  margin-left: 5vw;
}

.bobler div:nth-child(7) img {
  width: 10vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  left: 0;
  z-index: 5;
}

.bobler div:nth-child(8) {
  position: absolute;
  right: 5vw;
  margin: 40vw 0 0 5vw;
}

.bobler div:nth-child(8) img {
  width: 4vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  filter: blur(15px);
  z-index: 5;
}

.bobler div:nth-child(9) {
  position: absolute;
  right: -5vw;
  margin: 40vw 0 0 5vw;
}

.bobler div:nth-child(9) img {
  width: 16vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  z-index: 5;
}

.bobler div:nth-child(10) {
  position: absolute;
  left: 0;
  margin: 65vw 0 0 5vw;
}

.bobler div:nth-child(10) img {
  width: 8vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  z-index: 5;
}

.bobler div:nth-child(11) {
  position: absolute;
  left: 0;
  margin: 100vw 0 0 -40vw;
}

.bobler div:nth-child(11) img {
  width: 60vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.1;
}

.bobler div:nth-child(12) {
  position: absolute;
  right: -5vw;
  margin: 170vw 0 0 5vw;
}

.bobler div:nth-child(12) img {
  width: 40vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0.1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.bobble {
  animation: float 2s ease-in-out infinite;
  will-change: transform;
}

.bobble-1 {
  animation-delay: 0s;
}

.bobble-2 {
  animation-delay: 1s; /* slightly different timing */
}

.project-details {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.portfolio-side {
  padding-top: 20vh;
}

.aboutme div button {
  text-decoration: none;
  border: none;
}

.aboutme {
  height: 70vh;
  padding-top: 5%;
}

.emne {
  color: var(--white);
  font-weight: 700;
  font-size: 3.5vw;
  background: var(--primary-color);
  width: auto;
  position: absolute;
  padding: 0.5rem 2rem;
  top: 0;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  transition: 0.5s;
}

.fritid {
  margin-left: 10rem;
  transform: rotate(15deg);
  top: 25vh;
  left: 0;
  transform-origin: right center;
  background: var(--secondary-color);
  padding-right: 4rem;
}

.football {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
  opacity: 0;
}

.fritid:hover + .football {
  display: block;
  left: 42vw;
  scale: 0.5;
  top: -80px;
  opacity: 100;
}

.erfaring {
  margin-left: 10rem;
  transform: rotate(-15deg);
  top: 40vh;
  left: 0;
  transform-origin: right center;
  padding-right: 4rem;
}

.book {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
  opacity: 0;
}

.erfaring:hover + .book {
  display: block;
  left: 42vw;
  scale: 0.5;
  top: -20px;
  transform: rotate(20deg);
  opacity: 100;
}

.kompetancer {
  margin-right: 10rem;
  transform: rotate(-15deg);
  right: 0;
  top: 25vh;
  clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
  transform-origin: left center;
  padding-left: 4rem;
}

.puzzle {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
  opacity: 0;
}

.puzzle.show {
  display: block;
}

.kompetancer:hover + .puzzle {
  display: block;
  left: 27vw;
  scale: 0.4;
  top: -100px;
  transform: rotate(20deg);
  opacity: 100;
}

.kompetancer-ikoner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.kompetancer-ikoner a img {
  width: auto;
  height: 80px;
  margin-left: 1rem;
  transition: 0.2s;
}

.kompetancer-ikoner a img:hover {
  transform: scale(1.2);
}

.funfact {
  margin-right: 10rem;
  transform: rotate(15deg);
  right: 0;
  top: 40vh;
  clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
  transform-origin: left center;
  background: var(--secondary-color);
  padding-left: 4rem;
}

.building {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
  opacity: 0;
}

.funfact:hover + .building {
  display: block;
  left: 30vw;
  scale: 0.5;
  top: -100px;
  transform: rotate(-20deg);
  opacity: 100;
}

.emne:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hoved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hoved-mig {
  width: 25%;
  height: auto;
  transition: transform 0.4s ease;
}

.navn {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.hoved-mig {
  transition: transform 0.15s ease-out;
}

.hoved-mig g {
  transition: transform 0.1s ease-out;
}

.eyes {
  background-color: #5d02f9;
  transition: transform 0.4s ease;
}

.gitter {
  width: 40%;
  position: absolute;
  pointer-events: none;
  z-index: -1000;
  transition: transform 0.15s ease-out;
}

.eyebrow {
  transition: transform 0.15s ease-out;
}

.mig-tekst {
  width: fit-content;
  max-width: 50%;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 300;
  line-height: 2rem;
  text-transform: none;
}

.tekstboks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.about-div {
  height: 100vh;
}

.portfolio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  margin-bottom: 20vh;
}

.portfolio-intro h4 {
  font-weight: 800;
  font-size: 5.5vw;
  color: var(--primary-color);
  line-height: 1;
}

.portfolio-intro h4:nth-child(4) {
  color: var(--secondary-color);
}

.portfolio-intro a img {
  width: 20%;
  height: auto;
}

.portfolio-gallery {
  height: auto;
  width: 100%;
}

.project-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  margin: 0 15%;
}

.projekt-beskrivelse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.projekt-beskrivelse .brød {
  font-size: 1rem;
  color: var(--primary-color);
  text-transform: none;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.brød p {
  padding-bottom: 1rem;
}

.links {
  background: var(--secondary-color);
  width: fit-content;
}

.links h4 {
  padding: 1rem 2rem;
}

.links h4 a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

.year-link {
  display: flex;
  justify-content: space-between;
}

.poster-grid-container .projekt-beskrivelse {
  display: flex;
  align-items: center;
  width: 100%;
}

.poster-intro-p {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.carousel-intro-p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.poster-image {
  width: 100%;
}

.projekt-beskrivelse h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
  background: var(--primary-color);
  width: fit-content;
  padding: 1rem 2rem;
}

.projekt-beskrivelse h4 {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 800;
}

.projekt-billede {
  width: 40%;
  height: auto;
  z-index: 10000;
}

.projekt-billede img {
  width: 100%;
}

.kategori {
  background: var(--secondary-color);
  width: fit-content;
  font-weight: 800;
  padding: 1rem 2rem;
  color: var(--white);
}

.poster-grid-container .projekt-beskrivelse .kategori {
  font-size: 4rem;
}

.poster-grid-container {
  margin: 0 auto;
  padding: 0 15%;
}

.projekt-beskrivelse .kategori p {
  font-weight: bold;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.poster-item {
  width: 100%;
  aspect-ratio: 297 / 420;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
  z-index: 9000;
}

.poster-item.dimmed {
  opacity: 0.2;
}

.poster-name {
  text-align: center;
  margin-top: 5px;
}

.poster-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

.poster-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.kategori p {
  font-weight: bold;
}

footer {
  background: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  margin-top: 5%;
}

footer div {
  width: 33vw;
}

.footer-name {
  text-align: left;
}

.footer-name p {
  text-transform: capitalize;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials div {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.socials img {
  width: 30px;
  transition: 0.2s;
}

.pop-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pop-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Tablet styles */
@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .header {
    width: 100%;
    gap: 40px;
  }

  .logo svg {
    width: 50px;
  }

  .logo p {
    display: none;
  }

  .poster-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 15%;
  }

  .poster-intro-p {
    font-size: 1rem;
    color: var(--primary-color);
  }

  .intro-text {
    height: 100vh;
    padding-bottom: 0;
  }

  .intro-text h2 {
    font-size: 25vw;
  }

  .intro-text h1 {
    font-size: 8vw;
  }

  .intro-text h3 {
    font-size: 2vw;
    width: 40vw;
    text-align: center;
  }

  .bobler {
    bottom: 15vh;
    z-index: -1;
    transform: scale(2);
  }

  .gitter {
    width: 100vw;
  }

  .projekt-beskrivelse,
  .projekt-billede {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-details {
    margin-top: 0px;
  }

  .project-row {
    margin: 0 7%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .year-link {
    flex-direction: column-reverse;
    align-items: center;
  }

  .portfolio-intro {
    height: auto;
    margin: 0 0 20% 0;
  }

  .portfolio-intro h4 {
    font-size: 3rem;
  }

  .projekt-beskrivelse .brød {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .projekt-billede img {
    width: 70%;
  }

  .hoved {
    height: 50vh;
  }

  .hoved-mig {
    width: 50%;
  }

  .emne {
    scale: 1.2;
  }

  .fritid,
  .erfaring,
  .kompetancer,
  .funfact {
    transform: rotate(0);
  }

  .fritid,
  .erfaring {
    margin-left: 5rem;
  }

  .kompetancer,
  .funfact {
    margin-right: 5rem;
  }

  .fritid,
  .kompetancer {
    top: 50vh;
  }

  .erfaring,
  .funfact {
    top: 60vh;
  }

  .kompetancer:hover + .puzzle,
  .funfact:hover + .building {
    left: 70px;
  }

  .kompetancer:hover + .puzzle,
  .funfact:hover + .building,
  .erfaring:hover + .book,
  .fritid:hover + .football {
    scale: 0.3;
  }

  .puzzle,
  .building,
  .book,
  .football {
    scale: 0.1;
  }

  .navn {
    line-height: 1;
  }

  .mig-tekst {
    max-width: 80%;
  }

  .mig-tekst p {
    font-size: 1.3rem;
  }

  .kompetancer-ikoner {
    display: flex;
    flex-wrap: wrap;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 2.5rem 0 6rem 0;
    height: 35vh;
    justify-content: center;
    gap: 60px;
  }

  .footer-name {
    text-align: center;
  }

  footer div {
    width: 100vw;
    transform: scale(1.6);
  }

  .socials div {
    justify-content: center;
  }
}

/* Phones: up to 600px */
@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    background-color: var(--white);
  }

  .hamburger {
    display: block;
    color: var(--black);
  }

  .shrink.hamburger {
    display: block;
    color: var(--white);
  }

  .shrink .nav-links a {
    color: var(--black);
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px; /* adjust based on navbar height */
    right: 10px;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;
  }

  .nav-links.open {
    display: flex;
  }

  .poster-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px 15%;
  }

  .poster-intro-p {
    font-size: 1rem;
    color: var(--primary-color);
    width: 60%;
    text-align: center;
  }

  .logo p {
    font-size: 1rem;
  }

  .intro-text {
    height: 100vh;
  }

  .intro-text h2 {
    font-size: 25vw;
    margin-bottom: -10px;
  }

  .intro-text h1 {
    font-size: 9vw;
  }

  .intro-text h3 {
    font-size: 1rem;
    width: 40vw;
    text-align: center;
  }

  .gitter {
    width: 100vw;
  }

  .bobler {
    bottom: 15vh;
    z-index: -1;
    transform: scale(2);
  }

  .projekt-beskrivelse,
  .projekt-billede {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }

  .project-row {
    margin: 0 5%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .year-link {
    flex-direction: column-reverse;
    align-items: center;
  }

  .portfolio-intro {
    height: auto;
    margin: 0px;
  }

  .portfolio-intro h4 {
    font-size: 1.5rem;
  }

  .aboutme {
    height: 65vh;
  }

  .hoved {
    height: 50vh;
  }

  .hoved-mig {
    width: 50%;
  }

  .emne {
    scale: 1.2;
  }

  .fritid,
  .erfaring,
  .kompetancer,
  .funfact {
    transform: rotate(0);
    padding: 0.5rem 1rem;
  }

  .fritid,
  .erfaring {
    margin-left: 5rem;
  }

  .kompetancer,
  .funfact {
    margin-right: 5rem;
  }

  .fritid,
  .kompetancer {
    top: 50vh;
  }

  .erfaring,
  .funfact {
    top: 60vh;
  }

  .kompetancer:hover + .puzzle,
  .funfact:hover + .building {
    left: -90px;
  }

  .erfaring:hover + .book,
  .fritid:hover + .football {
    left: 130px;
  }

  .kompetancer:hover + .puzzle,
  .funfact:hover + .building,
  .erfaring:hover + .book,
  .fritid:hover + .football {
    scale: 0.2;
  }

  .puzzle,
  .building,
  .book,
  .football {
    scale: 0.1;
    left: 0;
  }

  .kompetancer:hover + .puzzle,
  .funfact:hover + .building {
    top: -150px;
  }

  .navn {
    line-height: 1;
  }

  .mig-tekst {
    max-width: 80%;
  }

  .mig-tekst p {
    font-size: 1.3rem;
  }

  .kompetancer-ikoner {
    display: flex;
    flex-wrap: wrap;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 5rem 0;
    height: 30vh;
    justify-content: center;
    gap: 20px;
  }

  .footer-name {
    text-align: center;
  }

  footer div {
    width: 100vw;
  }

  .socials div {
    justify-content: center;
  }
}
