@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #5d02f9;
  --secondary-color: #ff5151;
  --black: rgb(19, 19, 19);
  --white: white;

  --font: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font);
  text-transform: uppercase;
  overflow-x: hidden;
  cursor: crosshair;
}

body::before {
  content: "";
  inset: 0;
  background: url(img/grain.png) repeat;
  z-index: 10;
  opacity: 0.4;
  position: fixed;
  pointer-events: none;
  user-select: none;
  mix-blend-mode: lighten;
}

.navbar {
  display: flex;
  gap: 0.5rem;
}

.navbar a {
  text-decoration: none;
  padding: 0 1rem;
  color: black;
  transition: 0.2s;
}

.navbar a:hover {
  background-color: var(--secondary-color);
  color: white;
  padding: 0 1.5rem;
}

.main {
  height: auto;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.logo p {
  font-weight: 500;
}

.logo img {
  height: 40px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
  height: 100vh;
  padding-bottom: 20vh;
}

.intro-text h2 {
  font-size: 11vw;
  color: black;
  font-weight: 900;
  margin-bottom: -30px;
}

.intro-text h1 {
  font-size: 6vw;
  font-weight: 900;
  color: var(--primary-color);
}

.intro-text h3 {
  font-size: 1rem;
  color: black;
}

.bobler {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -15rem;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  user-select: none;
}

.bobler div img {
  animation: float 6s ease-in-out infinite;
}

.bobler div:nth-child(1) img {
  width: 30vw;
  animation-delay: 0s;
  animation-duration: 5s;
}

.bobler div:nth-child(2) img {
  width: 6vw;
  filter: blur(7px);
  padding-top: 100%;
  animation-delay: -2s;
  animation-duration: 7s;
}

.bobler div:nth-child(3) img {
  width: 3vw;
  filter: blur(14px);
  padding-top: 300%;
  animation-delay: -1s;
  animation-duration: 4.5s;
}

.bobler div:nth-child(4) img {
  width: 14vw;
  padding-top: 80%;
  filter: blur(3px);
  animation-delay: -3s;
  animation-duration: 6.5s;
}

.bobler div:nth-child(5) img {
  width: 5vw;
  filter: blur(10px);
  padding-top: 50%;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
}

.bobler div:nth-child(6) img {
  width: 13vw;
  padding-top: 50%;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
}

.bobler div:nth-child(7) {
  position: absolute;
  left: 0;
  margin-left: 5vw;
}

.bobler div:nth-child(7) img {
  width: 10vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  left: 0;
  z-index: 5;
}

.bobler div:nth-child(8) {
  position: absolute;
  right: 5vw;
  margin: 40vw 0 0 5vw;
}

.bobler div:nth-child(8) img {
  width: 4vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  filter: blur(15px);
  z-index: 5;
}

.bobler div:nth-child(9) {
  position: absolute;
  right: -5vw;
  margin: 40vw 0 0 5vw;
}

.bobler div:nth-child(9) img {
  width: 16vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  z-index: 5;
}

.bobler div:nth-child(10) {
  position: absolute;
  left: 0;
  margin: 65vw 0 0 5vw;
}

.bobler div:nth-child(10) img {
  width: 8vw;
  animation-delay: -0.5s;
  animation-duration: 5.8s;
  z-index: 5;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.bobble {
  animation: float 2s ease-in-out infinite;
  will-change: transform;
}

.bobble-1 {
  animation-delay: 0s;
}

.bobble-2 {
  animation-delay: 1s; /* slightly different timing */
}

.project-details {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.portfolio-side {
  padding-top: 20vh;
}

.navbar a {
  cursor: pointer;
}

.kontakt-overlay {
  display: flex;
  position: absolute;
  background: var(--secondary-color);
  padding: 1rem 2rem;
  gap: 2rem;
  right: 0;
}

.kontakt-overlay p {
  color: white;
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.kontakt-overlay a img {
  width: 20px;
  cursor: pointer;
}

.kontakt-overlay ul {
  display: flex;
  flex-direction: row;
}

.kontakt-overlay ul li {
  list-style: none;
  margin-right: 1rem;
}

.kontakt-overlay .socials img {
  width: 30px;
}

.aboutme div button {
  text-decoration: none;
  border: none;
}

.aboutme {
  height: 70vh;
  padding-top: 5%;
}

.emne {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
  background: var(--primary-color);
  width: auto;
  position: absolute;
  padding: 0.5rem 2rem;
  top: 0;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  transition: 0.5s;
}

.fritid {
  margin-left: 10rem;
  transform: rotate(15deg);
  top: 25vh;
  left: 0;
  transform-origin: right center;
  background: var(--secondary-color);
  padding-right: 4rem;
}

.football {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
}

.fritid:hover + .football {
  display: block;
  left: 42vw;
  scale: 0.5;
  top: -80px;
}

.erfaring {
  margin-left: 10rem;
  transform: rotate(-15deg);
  top: 40vh;
  left: 0;
  transform-origin: right center;
  padding-right: 4rem;
}

.book {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
}

.erfaring:hover + .book {
  display: block;
  left: 42vw;
  scale: 0.5;
  top: -20px;
  transform: rotate(20deg);
}

.kompetancer {
  margin-right: 10rem;
  transform: rotate(-15deg);
  right: 0;
  top: 25vh;
  clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
  transform-origin: left center;
  padding-left: 4rem;
}

.puzzle {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
}

.kompetancer:hover + .puzzle {
  display: block;
  left: 27vw;
  scale: 0.4;
  top: -100px;
  transform: rotate(20deg);
}

.kompetancer-ikoner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.kompetancer-ikoner a img {
  width: auto;
  height: 80px;
  margin-left: 1rem;
  transition: 0.2s;
}

.kompetancer-ikoner a img:hover {
  transform: scale(1.2);
}

.funfact {
  margin-right: 10rem;
  transform: rotate(15deg);
  right: 0;
  top: 40vh;
  clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
  transform-origin: left center;
  background: var(--secondary-color);
  padding-left: 4rem;
}

.building {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  width: 500px;
  top: 0;
  left: 35vw;
  transition: 0.5s;
  scale: 0.1;
}

.funfact:hover + .building {
  display: block;
  left: 30vw;
  scale: 0.5;
  top: -100px;
  transform: rotate(-20deg);
}

.emne:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hoved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hoved-mig {
  width: 25%;
  height: auto;
  transition: transform 0.4s ease;
}

.navn {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.hoved-mig {
  transition: transform 0.15s ease-out;
}

.hoved-mig g {
  transition: transform 0.1s ease-out;
}

.eyes {
  background-color: #5d02f9;
  transition: transform 0.4s ease;
}

.gitter {
  width: 40%;
  position: absolute;
  pointer-events: none;
  z-index: -1000;
  transition: transform 0.15s ease-out;
}

.eyebrow {
  transition: transform 0.15s ease-out;
}

.mig-tekst {
  width: fit-content;
  max-width: 50%;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 300;
  line-height: 2rem;
  text-transform: none;
}

.tekstboks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.about-div {
  height: 100vh;
}

.portfolio-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  margin-bottom: 20vh;
}

.portfolio-intro h4 {
  font-weight: 800;
  font-size: 6rem;
  color: var(--primary-color);
  line-height: 1;
}

.portfolio-intro h4:nth-child(4) {
  color: var(--secondary-color);
}

.portfolio-intro a img {
  width: 20%;
  height: auto;
}

.portfolio-gallery {
  height: auto;
  width: 100%;
}

.project-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  margin: 0 15%;
}

.projekt-beskrivelse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.projekt-beskrivelse .brød {
  font-size: 1rem;
  color: var(--primary-color);
  text-transform: none;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.brød p {
  padding-bottom: 1rem;
}

.projekt-beskrivelse h3 {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background: var(--primary-color);
  width: fit-content;
  padding: 1rem 2rem;
}

.projekt-beskrivelse h4 {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 800;
}

.projekt-billede {
  width: 40%;
  height: auto;
  z-index: 100;
}

.projekt-billede img {
  width: 100%;
}

.kategori {
  background: var(--secondary-color);
  width: fit-content;
  font-weight: 800;
  padding: 1rem 2rem;
  color: white;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.carousel-intro .kategori p {
  font-size: 4rem;
}

.carousel-intro-p {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 2%;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  height: 70vh;
  gap: 2rem;
  scroll-snap-align: center;
}

.carousel-info {
  flex: 0 0 calc(100% / 3);
  text-align: center;
  z-index: 100;
}

.carousel-info img {
  width: auto;
  object-fit: cover;
  height: 100%;
  transition: 0.4s;
}

.carousel-btn {
  background: var(--secondary-color);
  border: none;
  padding: 2rem 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  transition: 0.4s;
}

.carousel-btn:hover {
  background: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}

.carousel-name {
  display: none;
  font-size: 1rem;
}

.carousel-info img:hover + .carousel-name {
  display: block;
}

footer {
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  margin-top: 5%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials img {
  width: 30px;
  transition: 0.2s;
}
