@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #5d02f9;
  --secondary-color: #ff5151;

  --font: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* make children stack vertically */
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  gap: 0.5rem;
}

.navbar a {
  text-decoration: none;
  padding: 0 1rem;
  color: black;
  transition: 0.2s;
}

.navbar a:hover {
  background-color: var(--secondary-color);
  color: white;
  padding: 0 1.5rem;
}

.main {
  height: auto;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem;
  color: black;
}

.logo a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.logo p {
  font-weight: 500;
}

.logo img {
  height: 40px;
}

.intro-text {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
}

.intro-text h2 {
  font-size: 8rem;
  color: black;
  font-weight: 900;
}

.intro-text h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--primary-color);
}

.intro-text h3 {
  font-size: 1rem;
  color: black;
}

.bobler {
  position: relative;
  width: 100%;
}

.bobler img:nth-child(1) {
  width: 416px;
}

.bobler img:nth-child(2) {
  width: 100px;
}

.project-details {
  height: 1000px;
}
